



body {
    background-color: rgb(22, 22, 22);

}

:root{
    --nonMetal:greenyellow;
    --nobleGas:dodgerblue;
    --alkaliMetal:chocolate;
    --alkaliEarthMetal:gold;
    --metalloid:lightgreen;
    --unknown:darkgrey;
    --transitionMetal:salmon;
    --actinide:fuchsia;
    --lanthanide:hotpink;
    --post-transitionMetal:turquoise;
}

.container{
    width: fit-content;
    margin: 10px auto;
    position: relative;
}

h1{
    text-align: center;
    color: aliceblue;
}

.disable{
    filter: contrast(0) blur(5px);
    cursor:not-allowed;
}

#table{
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(10,1fr);
    padding: 10px;
    border: rgb(197, 197, 197) solid 1px;
    width: fit-content;
    margin: 0 auto;
    gap: 2px;
}
.element{
    height: 40px;
    width: 40px;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
    user-select: none;
    transition: all ease-in 10ms;
    text-decoration: underline;
    text-underline-offset: 15%;
    text-shadow: currentColor 0 0 5px;
    border: currentColor solid 3px;
    
}

.element:hover{
    cursor: pointer;
    color: whitesmoke;
    box-shadow: currentColor 0 0 5px;
}



.nonMetal{
    
    color: var(--nonMetal);
}
.nonMetal:hover{
    background-color:var(--nonMetal);
}

.nobleGas{
    
    color: var(--nobleGas);
}
.nobleGas:hover{
    background-color:var(--nobleGas);
}

.alkaliMetal{
    
    color: var(--alkaliMetal);
}
.alkaliMetal:hover{
    background-color:var(--alkaliMetal);
}
.alkaliEarthMetal{
    
    color: var(--alkaliEarthMetal);
}
.alkaliEarthMetal:hover{
    background-color:var(--alkaliEarthMetal);
}

.metalloid{
    
    color:var(--metalloid);
}
.metalloid:hover{
    background-color:var(--metalloid);
}

.unknown{
    
    color: var(--unknown);
}
.unknown:hover{
    background-color: var(--unknown);
}

.transitionMetal{
    
    color: var(--transitionMetal);
}
.transitionMetal:hover{
    background-color: var(--transitionMetal);
}

.actinide{
    
    color: var(--actinide);
}
.actinide:hover{
    background-color: var(--actinide);
}

.lanthanide{
    
    color: var(--lanthanide);
}
.lanthanide:hover{
    background-color: var(--lanthanide);
}

.post-transitionMetal{
    
    color: var(--post-transitionMetal);
}
.post-transitionMetal:hover{
    background-color: var(--post-transitionMetal);
}


.output{
    border: rgb(24, 22, 22) solid 1px;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: aliceblue;
    z-index: 2;
    display: none;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-rows: repeat(3,1fr) 20%;
    padding: 10px;
    

}

#number,#symbol,#atomic_mass{
    display: flex ;
    align-items: center;
    display: -webkit-flex;
    
}

#number,#atomic_mass{
    justify-content: end;
    margin-right: 20px;
    font-size: xx-large;
    
}

#symbol{
    justify-content: center;
    font-size: 5rem;
}

.remove{
    background-color: red;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 100%;
    top: 0;
}

.output, .remove{
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

#btnName{
    cursor: pointer;
    font-size: large;
    margin: 0 auto;
    padding: 0 20px;
    border: solid 1px;
    
}

#text{
    margin: 20px auto;
    background-color: aliceblue;
    width: 70vw;
    padding: 20px;
    
}



#text,.output,#table,.remove , #btnName{
    transition: ease-in-out 10ms;
    border-radius: 20px;
}

.img{
    border: solid 1px;
    width: 150px;
    height: 150px;
    margin: 10px auto;
    overflow: hidden;
    box-sizing: border-box;
    word-break: break-all;
    overflow: hidden;

}

.img img{
    height: 150px;
    width: 150px;
}


.name{
    text-align: center;
    text-decoration: underline;
}

.summary{
    text-align: justify;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 20px;
    min-height: 50px;
}

.legend{
    width: 200px;
    margin: 20px auto;
    font-size: x-small;
    text-align: center;
    
}
.general{
    background-color: darkseagreen;    
}

.stat{
    background-color:lightblue;
}

.stat, .general{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    grid-template-columns: repeat(2,1fr);
}

.stat>span,.general>span{
    margin: 0 5px;
}

@media (max-width : 900px ){
    
    .element{
        height: 3vw;
        width: 3vw;
        font-size: 1.5vw;
        border: 0.25px solid;
        text-underline-offset: 5%;
    }
    #btnName{
        font-size:small;
    }
    
    #symbol{
        font-size: 3rem;
    }

    #number,#atomic_mass{
        font-size:large; 
    }

    .output{
        height: 125px;
        width: 125px;
    }

    .remove{
        height: 30px;
        width: 30px;
        font-size: 2.5vw;
    }

    .stat,.general{
        grid-template-columns: 1fr;
    }
}


.bodyquiz{
    background-color: rgb(107, 107, 107);
    border-radius: 20px;
    width: 70vw;
    margin: 20px auto;
    
}

.containerquiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    border: rgb(189, 182, 182) solid 1px;
    border-radius: 20px;
    padding: 20px;
    min-height: 100px;
    justify-content: center;
}

.containerquiz #question{
    margin: 20px;
}

.true {
    color: rgb(9, 190, 9);
    text-decoration: underline;
}

.false {
    color: rgb(238, 26, 26);
    text-decoration: underline;
}

.buttonquiz {
    cursor: pointer;
    width: 150px;
    height: fit-content;
    font-size: x-large;
    padding: 5px;
    
}

.text-enter{
    text-align: center;
}

#choose{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


/*  */

#on {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 250px;
    border-radius: 20%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    padding: 10px;
  }

  .center-circle {
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    border: blue solid 1px;
    box-sizing: border-box;  
  }

  .orbit {
    position: absolute;
    border: 1px dashed gray;
    border-radius: 50%;
    box-sizing: border-box;
    -o-animation:  right-spin linear infinite;
    -moz-animation:  right-spin linear infinite ;
    -webkit-animation: right-spin linear infinite;
    
    animation: right-spin linear infinite;
  }
  @keyframes right-spin {
    100%{
      transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }

  .sphere {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }